.bng{
    font-style: Fira Sans;
}

.btn1{
    color: #006A50;
    padding: auto;
    width: 116px;
    height: 52px;
    border-radius: 8%;
}

header{
    display: flex;
    justify-content: space-between;
}

.bng2{
    font-style: Fira Sans;
    font-weight: lighter;
    font-size: 24px;
    color: #0E0E0E;
}

.bng3{
    font-style: Fira Sans;
    font-size: 56px;
    color: #0E0E0E;
}

.btn2{
    color: #FFFFFF;
    background-color: #006A50;
    width: 270px;
    height: 56px;
    padding: 17px 34px;
    border-radius: 5px;
}

.first{
    background-color: #C6E4D6;
    display: flex;
    gap: 64px;
    margin: 160px 160px;
    border-radius: 15px;
}

.img1{
    margin-top: 80px;
    margin-bottom: 80px;
}

.first1{
    margin-left: 60px;
    margin-top: 117px;
    margin-bottom: 117px;
}

.second{
    font-style: Fira Sans;
    font-size: 40px;
    margin-left: 160px;
}

.kk{
    font-style: Fira Sans;
}

.para1{
    color: #0E0E0E;
    opacity: 60%;
}

.card1{
    width: 200px;
    height: 190px;
    padding: 24px;
    background-color: whitesmoke;
    margin-top: 32px;
    border-radius: 16px;
    /* margin-left: 140px; */
}

.card{
    display: flex;
    gap: 40px;
    margin-left: 150px;
    /* justify-content: space-between; */
}

.para2{
    color: #0E0E0E;
    opacity: 60%;
    margin-left: 160px ;
    margin-right: 160px;
}

.image{
    width: 62px;
    height: 62px;
}

.para3{
    color: #0E0E0E;
    opacity: 60%;
    width: 300px;
    height: 72px;
}

.btn3{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    font-style: Fira Sans ;
    color: #FFFFFF;
    background-color: #5490F5;
}

.card2{
    background-color: #81B4FC;
    width: 280px;
    height: 240px;
    padding: 32px;
    border-radius: 16px;

}

.btn4{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    font-style: Fira Sans ;
    color: #FFFFFF;
    background-color: #09A15C;
}

.card3{
    background-color: #C6E4D6;
    width: 280px;
    height: 240px;
    padding: 32px;
    border-radius: 16px;
}

.btn5{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    font-style: Fira Sans ;
    color: #FFFFFF;
    background-color: #FFC239;
}

.card4{
    background-color: #F7EBCF;
    width: 280px;
    height: 240px;
    padding: 32px;
    border-radius: 16px;
}

.three_cards{
    display: flex;
    margin-left: 160px;
    gap: 58px;

}

.para4{
    color: #0E0E0E;
    opacity: 60%;
}

.para5{
    color: #0E0E0E;
    opacity: 60%;
}

.big-card{
    background-color: whitesmoke;
    padding: 24px 24px 48px 48px;
   margin-left: 160px;
   width: 1080px;
   /* margin-right: 200px; */
   margin-top: 32px;
   border-radius: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #d1e7dd;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th, td {
    border: 1px solid #D5D6D8;
    padding: 8px;
    text-align: left;
}
.container {
    max-width: 1104px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d1e7dd;
    cursor: pointer;
}

.img4{
    width: 408px;
    height: 308px;
    margin-top: 38px;
    border-radius: 24px;
}

.sate{
    font-style: Fira Sans;
    font-size: 32px;
}

.para7{
    color: #0E0E0E;
    opacity: 60%;
}

.btn6{
    color: #FFFFFF;
    width: 129px;
    height: 38px;
    background-color: #006A50;
    border-radius: 8px;
}

.big-card{
    
    display: flex;
    margin-top: 20px;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    height: 360px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 1104px;
    margin: 0 auto; */
}

.head5{
    font-style: Fira Sans;
    font-size: 40px;
    text-align: center;
}

.btn8{
    background-color: #FFFFFF;
    font-style: Fira Sans bold;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 108px;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn9{
    background-color: #C6E4D6;
    font-style: Fira Sans bold;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 108px;
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.para8{
    margin-left: 248px;
    margin-right: 248px;
    color: #0E0E0E;
    opacity: 60%;
}

.btn8-9{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.in{
    text-align: center;
    width: 1032px;
    height: 54px;
    margin-left: 220px;
}

.btn10{
    margin-left: 685px;
    font-style: Fira Sans;
    background-color: #006A50;
    border-radius: 8px;
    color: #FFFFFF;
    width: 110px;
    height: 40px;
}