.bng{
    font-style: Fira Sans;
}

.btn1{
    color: #006A50;
    padding: auto;
    width: 116px;
    height: 52px;
    border-radius: 8%;
}

header{
    display: flex;
    justify-content: space-between;
}

.bng2{
    font-style: Fira Sans;
    font-weight: lighter;
    font-size: 24px;
    color: #0E0E0E;
}

.bng3{
    font-style: Fira Sans;
    font-size: 56px;
    color: #0E0E0E;
}

.btn2{
    color: #FFFFFF;
    background-color: #006A50;
    width: 270px;
    height: 56px;
    padding: 17px 34px;
    border-radius: 5px;
}

.first{
    background-color: #C6E4D6;
    display: flex;
    gap: 64px;
    margin: 160px 160px;
    border-radius: 15px;
}

.img1{
    margin-top: 80px;
    margin-bottom: 80px;
}

.first1{
    margin-left: 60px;
    margin-top: 117px;
    margin-bottom: 117px;
}